
@{
    ViewBag.Title = "Product Search";
}

<h2>@ViewBag.Title</h2>
@*
    <form action="/Product/Search" method="get">
        <input type="text" name="q" />
        <input type="submit" value="search" />
    </form>
*@
@using (Html.BeginForm("Search", "Product", FormMethod.Get)) {
        <input type="text" name="q" />
        <input type="submit" class="btn btn-primary" value="search" />
        <a href="/product/create" class="btn btn-primary">Create</a>
}


@*@using (Html.BeginForm("Create", "Product", FormMethod.Get))
{
    <input type="submit" value="create" />
}*@
    
@*{Html.BeginForm("Search", "Product", FormMethod.Get);}
        <input type="text" name="q" />
        <input type="submit" value="search" />
    @{Html.EndForm();}*@
